# Dependencies
node_modules/

# Build
dist/

# Local env / secrets
.env
.env.*
!.env.example

# Logs & debug
npm-debug.log*
*.log

# OS & editor
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/*
!.vscode/extensions.json

# Vite
*.local

.vercel
